.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

button{
  width: 150px;  
  height: 50px;  
  font-size: 4rem; 
  background-color: #ADB2D4;
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: bold;
}

button:hover{
  transform: scale(1.1);
  transition: 0.5s;
  cursor: pointer;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #ADB2D4;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #C599B6;
}

p {
  font-size: 2rem;
  color: #C599B6;
  text-shadow: 2px 0 #232931;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}
.result{
  font-size: 2rem;
  color: #C599B6;
  text-shadow: 2px 0 #232931;
  font-family: 'Indie Flower', cursive;
  text-align: center;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
